.form-product {
  width: 90%;
  min-width: 450px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.form-product-title {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
