.product-list {
  width: 90%;
  min-width: 450px;
  max-width: 1200px;
  margin: 10px auto;
  text-align: center;
  padding: 15px;
}

.main-title {
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
  background-color: rgb(65, 65, 255);
  padding: 10px;
  border-radius: 15px;
  color: #fff;
}

.btn-table {
  display: flex;
  justify-content: space-around;
}
